
@{
    ViewBag.Title = "Index";
}


<h2> Хвороби</h2>

<p>@Html.ActionLink("Хвороби: детальна інформація", "ObjectsInfoDiscase")</p>
<p>@Html.ActionLink(" Xвороби за видами хвороб", "DiscaseByRegionsInfo")</p>
<p>@Html.ActionLink("Відбір даних про хворобу", "Selection")</p>
<p>@Html.ActionLink("Хворби за літерою назви", "BrowseByLetters")</p>
<p>@Html.ActionLink("Список хвороб у вигляді таблиці", "List")</p>
<p>@Html.ActionLink("Перегляд даних про хвороби з дозавантаженням опису", "Browse")</p>

