
@{
    ViewBag.Title = "Index";
}


<h2>Пацієнти і хвороби</h2>

<p>@Html.ActionLink("Пацієнти і хвороби: детальна інформація", "ObjectsInfo")</p>
<p>@Html.ActionLink("Пацієнти і хвороби за видами хвороб", "PatcientByRegionsInfo")</p>
<p>@Html.ActionLink("Відбір даних про пацієнтів", "Selection")</p>
<p>@Html.ActionLink("Пацієнти  за літерою назви", "BrowseByLetters")</p>
<p>@Html.ActionLink("Список пацієнтів у вигляді таблиці", "List")</p>
<p>@Html.ActionLink("Перегляд даних про пацієнтів  з дозавантаженням опису", "Browse")</p>



